<div class="home-container ">
    <!-- Feed -->
    <div id="app">
        <div class="homepageHeader mx-auto">
            Feed
        </div>

        <div class="mx-auto text-center ">
            <div class="post">
                <div class="card mx-auto homepage text-left">
                <div class="card-body">
                    <h5 class="card-title"> Post </h5>
                    <p class="card-text"> Post Body </p>
                </div>
                <div class="card-footer text-muted text-left">
                    2 days ago
                </div>
                </div>
              </div>
              <div class="post">
                <div class="card mx-auto homepage text-left">
                <div class="card-body">
                    <h5 class="card-title"> Post </h5>
                    <p class="card-text"> Post Body </p>
                </div>
                <div class="card-footer text-muted text-left">
                    2 days ago
                </div>
                </div>
              </div>
              <div class="post">
                <div class="card mx-auto homepage text-left">
                <div class="card-body">
                    <h5 class="card-title"> Post </h5>
                    <p class="card-text"> Post Body </p>
                </div>
                <div class="card-footer text-muted text-left">
                    2 days ago
                </div>
                </div>
              </div>
              <div class="post">
                <div class="card mx-auto homepage text-left">
                <div class="card-body">
                    <h5 class="card-title"> Post </h5>
                    <p class="card-text"> Post Body </p>
                </div>
                <div class="card-footer text-muted text-left">
                    2 days ago
                </div>
                </div>
              </div>
              <div class="post">
                <div class="card mx-auto homepage text-left">
                <div class="card-body">
                    <h5 class="card-title"> Post </h5>
                    <p class="card-text"> Post Body </p>
                </div>
                <div class="card-footer text-muted text-left">
                    2 days ago
                </div>
                </div>
              </div>
              <div class="post">
                <div class="card mx-auto homepage text-left">
                <div class="card-body">
                    <h5 class="card-title"> Post </h5>
                    <p class="card-text"> Post Body </p>
                </div>
                <div class="card-footer text-muted text-left">
                    2 days ago
                </div>
                </div>
              </div>
        </div>
    </div>
</div>

<!-- Back to top scroll button -->

<button onclick="topFunction()" id="toTopBtn" title="Back to Top">Back to Top</button>