@font-face {
  font-family: "Asdonuts";
  src: url("Asdonuts.ttf") format("truetype");
}

body {    
    background-color:#f8f8f8;
    margin-top: 90px; /* Add a top margin to avoid content overlay */
    z-index:2;
    max-width: 100%;
    overflow-x: hidden;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Modal Formatting */
.invalid input:required:invalid {
  background: #BE4C54;
}

/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
  background: #17D654;
}

.asdonuts{
  font-family: "Asdonuts";
  letter-spacing: 1px;
}

/* Other Stuff */
.btn{
    margin-left:10px;
    border-radius: 20px;
 }

.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    height: 75px;
    width: 100%; /* Full width */
    z-index: 2;
    border-bottom: 1px solid #e2e2e2;
  }

.home-container {
    width: 100%;
    height: auto;
}

.homepage {
    width: 65%; /*Takes 90% width from home-container*/
    height: auto;
    margin-top: 30px;
    margin-left: 100px;
    margin-left: 150px;
}

.homepageHeader {
    width: 90%; /*Takes 90% width from home-container*/
    margin-top: 30px;
    margin-left: 50px; /* Add a left margin */
    margin-right: 50px; /* Add a left margin */
}

.content {
  font-size: 2em;
  padding-top: 20%;
}

.card-header {
  font-size: x-large;
}

.feed {
  width: 65%; /*Takes 90% width from home-container*/
}
.page-form{
  width: 40%; /*Takes 90% width from home-container*/
  margin : 0 auto;
}
.post-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 20px;
  size: 100px;
  z-index:3;
  filter: drop-shadow(3px 3px 0px rgba(80, 80, 80, 0.25));
}

.post-button:hover {
  transform: scale(1.2);
}

.card-img-top {
    width: 100%;
    height: 100%;
    height: 20vw;
    object-fit: cover;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  background-color: #111; /* Black*/
}

.custom-select {
  width: 760px;
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
}

.flash {
  background: rgba(151, 234, 255, 0.7);
  color: #1b1b1b;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 72px;
  z-index: 0;
  border-radius: 25px;
  -moz-animation: cssAnimation 0s ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}

.login {
  position: fixed;
  right: 30px;
  top: 15px;
  padding: 3px;
  background: #ffffff;
  border-radius: 0px;
  z-index:3;
}

#toTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 20px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: blue; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
}

#moreBtn {
margin-top: 20px;
}

.button {
  background-color: #0f68ed;
  padding: 0.3vw 3vw;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin-bottom: 2px;
}

